body {
  background-color: #4d6d7a;
}

.App {
  text-align: center;
}

.Box {
  color: #fff;
  margin: 25px;
  border: 1px solid #aaa;
  width: 400px;
  border-radius: 5px;
}

.Box-Header {
  font-size: 150%;
  padding: 20px;
  border-bottom: 1px solid #aaa; 
}

.Section {
  padding: 20px; 
}

form {
  text-align: left;
}

.Input {
  margin: 10px 0 15px 0; 
  padding: 5px;
  width: 96%;
  border-radius: 5px;
}

.Button {
  width: 100%;
  padding: 7px;
  font-size: 15px;
  color: #222;
  background-color: #62d7f7;
  border-radius: 5px;
  border-width: 0px;
  cursor: pointer;
}

.Header {
  color: #fff;
  border-bottom: 1px solid #aaa; 
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

.Header-Link {
  color: #62d7f7;
  margin-left: 15px;
  cursor: pointer;
}

.Jobcoin-container {
  display: flex;
}

.Graph-container {
  align-self: center;
}

.SignIn-error {
  margin-bottom: 10px;
}
